* {
  margin: 0;
  padding: 0;
}
@font-face {
  src: url(fonts/VollkornSC-Black.ttf);
  font-family: voll;
}

@font-face {
  src: url(fonts/Livvic-LightItalic.ttf);
  font-family: livvic;
}

@font-face {
  src: url(fonts/IndieFlower-Regular.ttf);
  font-family: indie;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
@keyframes bg-animation {
  100% {
    background-position: left;
  }
  100%{
    background-position: right;
    
  }
}

body{ 
  background-repeat:no-repeat;
  height: 100vh;
  width: 100vw; 
 
  
}


.myvideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
 
} 

.header {
  font-size: 15px;
  font-family: voll;
  margin: 50px 1050px 50px 100px;
  background-image: linear-gradient(45deg,lightseagreen,lightgray);
  padding: 1px 0px 0px 17px;
  border-radius: 10px;
  opacity: 0.9;
  width: 126px;
  overflow: hidden;
  transition: all 1s ease-in-out;
}

.header:hover {
  width: 126px;
  background-image:linear-gradient(45deg,gray,black); 
  
}

.header h1:hover{
  color:white;
}

.wrapper h2 {
  font-size: 30px;
  text-align: center;
  background-image:linear-gradient(45deg,gray,black);
  margin: 20px 20% 50px 20%;
  border-radius: 5px;
  border: 2px solid white;
  opacity: 0.9;
  font-family: voll;
}

.wrapper h2:hover{
  background-image: linear-gradient(45deg,cyan,black);

}

.wrapper h2 a{
  color:white; 
}

main h2 a {
  color: black;
}

.username {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0px 0px 30px 0px;
}

.username img {
  margin-top: 9px;
  height: 35px;
  width: 35px;
  padding-right: 50px;
}

.input-username {
  height: 30px;
  width: 200px;
  margin-top: 10px;
  border-radius: 8px;
  font-size: 20px;
}

.password {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0px 0px 30px 0px;
}

.password img {
  margin-top: 9px;
  height: 38px;
  width: 38px;
  padding-right: 50px;
}

.password p {
  font-size: 40px;
  padding: 0px 30px;
  color: cyan;
  text-shadow: 1px 1px 3px black;
  font-weight: 900;
}

.input-password {
  height: 30px;
  width: 200px;
  margin-top: 10px;
  border-radius: 8px;
  font-size: 20px;
}

.gender {
  font-size: 28px;
  text-align: center;
  margin: 10px auto 20px;
  width: 25%;
  font-family: indie;
  background-image:linear-gradient(45deg,cyan, white);
  background-position: right;
  text-shadow: 2px 2px 5px cyan;
  opacity: 0.7;
  font-weight: 900;
  border-radius: 10px;
}

.gender ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
}

.gender ul li {
  padding: 0px 0px 0px 25px;
  
}

.gender ul li input {
  padding: 0px 0px 0px 25px;
  cursor: pointer;
}



.gender ul li:nth-child(2) {
  color: palevioletred;
  text-shadow: 1px 1px 1px black;
}

.sign-in input {
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  margin: 25px 40% 0px 40%;
  width:20%;
  border-radius: 5px;
  color: white;
  padding: 0px 20px 0px 10px;
  font-family: voll;
  cursor: pointer;
  background-image: linear-gradient(45deg, black,lightgray);

}

.sign-in input:hover {
  background-color: white;
  color: black;
}

footer h1 {
  text-align: right;
  background-image: linear-gradient(45deg,lightseagreen,lightgray);
  margin: 30px 95px 0px 1050px;
  padding: 5px 50px 0px 10px;
  font-family: voll;
  border-radius: 10px;
  opacity: 0.9;
}

input::placeholder {
  color: lightseagreen;
  font-family: indie;
  font-size: 25px;
}



